In [7]:
import pandas as pd

In [9]:
data_df = pd.read_csv('../res/alcoholism_dataset.csv')
data_df[:5]

,school,gender,age,household size,study time,financial support,activities,internet,significant other,family relationship,free time,social activities,weekday drinker,weekend drinker,health,absences
0,GP,F,18,GT3,2,no,no,no,no,4,3,4,1,1,3,6
1,GP,F,17,GT3,2,yes,no,yes,no,5,3,3,1,1,3,4
2,GP,F,15,LE3,2,no,no,yes,no,4,3,2,2,3,3,10
3,GP,F,15,GT3,3,yes,yes,yes,yes,3,2,2,1,1,5,2
4,GP,F,16,GT3,2,yes,no,no,no,4,3,2,1,2,5,4

### General:
    no = 0
    yes = 1

### school:
    GP = 0
    MS = 1
   
### gender:
    M = 0
    F = 1
    
### houshold size:
    LE3 = 0
    GT3 = 1

In [10]:
# replace these values: ['no', 'yes', 'GP', 'MS', 'LE3', 'GT3', 'M', 'F']
#               with:   [  0,    1,     0,    1,     0,     1,   0,   1]

cleaned_df = data_df.replace(['no', 'yes', 'GP', 'MS', 'LE3', 'GT3', 'M', 'F'], [0, 1, 0, 1, 0, 1, 0, 1])
cleaned_df[:5]

,school,gender,age,household size,study time,financial support,activities,internet,significant other,family relationship,free time,social activities,weekday drinker,weekend drinker,health,absences
0,0,1,18,1,2,0,0,0,0,4,3,4,1,1,3,6
1,0,1,17,1,2,1,0,1,0,5,3,3,1,1,3,4
2,0,1,15,0,2,0,0,1,0,4,3,2,2,3,3,10
3,0,1,15,1,3,1,1,1,1,3,2,2,1,1,5,2
4,0,1,16,1,2,1,0,0,0,4,3,2,1,2,5,4

In [6]:
# Add the values columns 'weekday drinker' and 'weekend drinker'  
# A new column 'drinker' is created to contain the sum of those 2 columns
# 'drinker' = 'weekday drinker' + 'weekend drinker'

cleaned_df['drinker'] = cleaned_df['weekday drinker'] + cleaned_df['weekend drinker']
final_df = cleaned_df.drop(['weekday drinker', 'weekend drinker'], axis=1)
final_df[:5]

,school,gender,age,household size,study time,financial support,activities,internet,significant other,family relationship,free time,social activities,health,absences,drinker
0,0,1,18,1,2,0,0,0,0,4,3,4,3,6,2
1,0,1,17,1,2,1,0,1,0,5,3,3,3,4,2
2,0,1,15,0,2,0,0,1,0,4,3,2,3,10,5
3,0,1,15,1,3,1,1,1,1,3,2,2,5,2,2
4,0,1,16,1,2,1,0,0,0,4,3,2,5,4,3

In [10]:
inputs = ['school', 'gender', 'age', 'household size', 'study time', 'financial support', 'activities', 'internet', 
        'significant other', 'family relationship', 'free time', 'social activities', 'health', 'absences']
output = 'drinker'

y = final_df[output]
X = final_df[inputs]

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier

In [12]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [13]:
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:
model = DecisionTreeClassifier()
model.fit(X_train_scaled, y_train)

DecisionTreeClassifier()

In [15]:
X_train_scaled

array([[-0.59947894,  0.88291871,  0.19950597, ..., -0.13845047,
        -0.43809522, -0.08921365],
       [ 1.66811531,  0.88291871,  0.19950597, ..., -0.13845047,
        -0.43809522,  0.56669517],
       [-0.59947894,  0.88291871,  0.19950597, ...,  0.72880329,
        -1.88547311, -0.41716806],
       ...,
       [-0.59947894,  0.88291871, -0.58944945, ..., -0.13845047,
        -0.43809522,  3.35430767],
       [-0.59947894, -1.1326071 , -1.37840488, ..., -0.13845047,
         1.00928266, -0.74512248],
       [-0.59947894, -1.1326071 ,  0.19950597, ..., -1.00570423,
        -1.88547311, -0.41716806]])

In [16]:
predictions = model.predict(X_test_scaled)

In [17]:
predictions

array([ 3,  2,  2,  3,  2,  2,  6,  2,  2,  4,  4,  2,  2, 10,  2,  3,  2,
       10,  4,  4,  3,  4,  2,  2,  2,  4,  2,  5,  3,  3,  5,  2,  8,  2,
        2,  2,  6,  2,  6,  3,  2,  2,  3,  3,  5,  2,  4, 10,  3,  5,  4,
        2,  4,  4,  2,  5,  4,  3,  4,  4,  3,  5,  2,  3,  6,  2,  6,  2,
        3,  2,  4,  2,  3,  2,  4, 10,  2,  4,  2,  2,  4,  2,  3,  2,  4,
        2,  2,  4,  4,  2,  4,  4,  4,  2,  2,  3,  2,  2,  3,  2,  4,  6,
        4,  2,  2,  2,  5,  2,  6,  2,  2,  6,  2,  4,  2,  4,  4,  2,  2,
        4,  2,  3,  2,  2,  5,  3,  3,  2,  5,  4,  5,  3,  8,  2,  4,  2,
        2,  2,  5,  4,  3,  4,  2,  4,  2,  3,  2,  5,  2,  2,  5,  2,  2,
        7,  2,  8,  2,  4,  6,  2,  6,  2,  7,  2,  9,  3,  2,  4,  2,  4,
        3,  3,  4,  2,  3,  8,  2,  2,  7,  4,  2,  2,  3,  2,  2,  3,  2,
        4,  4,  2,  3,  3,  3,  4,  2,  6,  3,  4,  5,  4,  5,  2,  2,  2,
        5,  2,  4,  5,  4,  5,  3,  6,  2,  4,  2,  4, 10,  2,  2,  3,  2,
        4,  5,  6,  4,  2,  3,  5, 10,  2,  2,  5,  2,  2,  2,  4,  7,  5,
        4,  7,  7,  2,  2,  3,  4,  4,  5,  2,  2,  5,  2,  8,  6,  4,  4,
        4,  4,  5,  3,  2,  2], dtype=int64)