In [1]:
import sqlite3

In [2]:
db = '../res/tables.sql'
mem = ':memory:'
conn = sqlite3.connect(db)
cur = conn.cursor()

In [3]:
profile_columns = ('id', 'gender', 'age', 'household_size', 'family_relationship', 'health')
activities_columns = ('id', 'study time', 'free time', 'social activities', 'drinker', 'absences')

# cur.execute('DROP TABLE profile')
# cur.execute('DROP TABLE activities')
# conn.commit()

cur.execute('CREATE TABLE profile ( id INT PRIMARY KEY ASC, gender INT, age INT, "household size" INT, "family relationship" INT, health INT)')
cur.execute('CREATE TABLE activities (id INT PRIMARY KEY ASC, "study time" INT, "social activities" INT, drinker INT, absences INT)')

In [4]:
conn.commit()
conn.close()